__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
.venv/
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.sqlite3
*.db
.DS_Store
*.env
.env
*.cover
.coverage
htmlcov/
.tox/
.pytest_cache/
*.pytest_cache
instance/
.webassets-cache
*.ipynb_checkpoints
docker-compose.override.yml
docker-compose.*.yml
